body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid {
  height: 100vh;
  overflow: auto;
  background: url(../img/beer-pour_sm.jpg) no-repeat;
  background-size: cover;
}

.full {
  border: 5px solid whitesmoke;
  border-radius: 10px;
  background: rgba(221, 218, 218, 0.42);
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.tada {
  animation-name: tada;
}

@media screen {
  h1 {
    font-size: 5rem;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 3px 3px grey;
  }
  p {
    font-size: 2rem;
    color: whitesmoke;
    text-shadow: 2px 2px grey;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 10rem;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 3px 3px grey;
  }
  p {
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: 2px 2px grey;
  }
}
