.cards {
  display: flex;
  flex-wrap: wrap;
}

.skillcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 450px;
  flex-direction: column;
  margin: 2rem 1rem;

  i {
    margin-bottom: 1rem;
  }
}

.grey {
  color: #6c757d;
}

.scroll-down {
  background: white;
  border-radius: 50%;
  flex: 0 1 50px;
}